
.main{
    display: flex;
}
.content{
    flex: 8;
    background:url('../assets/svg (6).png');
    background-position:right;
    background-size: cover;
    background-repeat: no-repeat;

}

.cntent div h2{
    text-align: center;
}
.introduction{
    margin-top: 80px;
    padding-left: 20px;
}
@media (max-width:950px) {
    .content{
        flex:100% ;}
    
}